body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: #333;
  color: #fff;
}

.logo {
  margin-right: 20px;
}

.logo img {
  width: 50px;
  height: 50px;
}

.separator {
  font-size: 24px;
  color: #fff;
  margin: 0 20px;
}

.social-media {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social-media li {
  margin-right: 20px;
}

.social-media a {
  color: #fff;
  text-decoration: none;
}

.social-media a:hover {
  color: #ccc;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    margin-top: 20px;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f0f0f0;
}

footer button {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
}
.wallet-container {
    text-align: center;
    padding: 20px;
}

form {
    margin: 20px 0;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
}

.balance, .transaction-history {
    margin: 20px 0;
}

.transaction-history ul {
    list-style-type: none;
    padding: 0;
}

.transaction-history li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
}
