.wallet-container {
    background-image: url('images (2).jpeg'); 
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 13px
    
}

.top-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #FFA07A;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.balance-display {
  margin-top: 20px;
  background-color: #F7F7F7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mined-coin-display {
  margin-top: 20px;
  background-color: #F7F7F7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error-message {
  color: #FF0000;
  font-size: 14px;
  margin-top: 10px;
}

#connect-btn {
  background-color: #FFA07A;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#home-btn {
  background-color: #8BC34A;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
