body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header-message {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    top: -40px;
}

.header-message marquee {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.user-profile {
    background-color: #f7f7f7;
    padding: 1em;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.coin-icon {
    width: 50px;
    height: 50px;
    margin: 20px;
}

#total-coins {
    font-size: 24px;
    font-weight: bold;
    
}
}

.tasks {
    background-color: #f7f7f7;
    padding: 1em;
    border: 1px solid #ddd;
}

#task-list {
    list-style: none;
    margin: 0;
    padding: 0;
    
}
}

#task-list li {
    margin-bottom: 10px;
    
}
.leaderboard {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.leaderboard table {
  width: 100%;
  border-collapse: collapse;
}

.leaderboard th, .leaderboard td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.leaderboard th {
  background-color: #f0f0f0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 2em;
    text-align: center;
    clear: both;
    
}

footer nav ul {
    list-style: none;
    margin: 1;
    padding: 2;
}

footer nav ul li {
    display: inline-block;
    margin-right: 20px;
}

footer nav a {
    color: #fff;
    text-decoration: none;
}
