body {
background-image: url('IMG-20250130-WA0005.jpg');
background-size: cover;
background-position: center;
height: 100vh;
margin: 0;
}

.header-message {
  background-color: #4CAF50;
  color: #purple;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.home-balance-container {
background-color: #4CAF50;
padding: 15px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
margin-top: 20px;
}
#home-balance-amount {
  background-color: #4CAF50;
  color: #ff9800;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0.1);
  front-color: #Orange;
  front-size: 30px;
}
#mining-button {
background-color: #4CAF50;
color: #fff;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#mining-status {
color: #66d9ef;
  background-color: #ff9800;
  padding: 10px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  front-size: 20px;
}

#time-remaining {
color: #ff9800;
  padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  front-size: 35px;
}

footer {
position: fixed;
bottom: 0;
width: 100%;
background-color: #4CAF50;
text-align: center;
padding: 10px;
}

footer button {
background-color: #66d9ef;
color: #fff;
border: none;
padding: 10px 26px;
font-size: 20px;
cursor: pointer;
border-radius: 13px;
}



#mining-info {
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#mining-status {
  font-weight: bold;
}

#time-remaining {
  color: #666;
}

h2 {
  color: #4CAF50;
}

.buttons {
display: flex;
justify-content: space-around;
padding: 10px;
}

.home-button, .task-button, .wallet-button {
background-color: #orange;
color: #fff;
border: none;
padding: 10px 20px;
font-size: 30px;
cursor: pointer;
border-radius: 10px;
}

.home-button:hover, .task-button:hover, .wallet-button:hover {
background-color: #3e8e41;
}

footer {
position: fixed;
bottom: 0;
width: 100%;
background-color: #4CAF50;
text-align: center;
padding: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
